 {{!-- PRODUCTS -- edit and delete --}}
<form action="/products/{{id}}?_method=PUT" method="POST">

  <label>Name:
    <input type="text" value="{{ name }}" name="name" id=""/>
  </label>
  <label>Price $:
   <input type="text" value=" {{ price }} " name="price" id=""/>
  </label>
  <label>Inventory:
    <input type="text" value=" {{inventory }} " name="inventory" id=""/>
  </label>
  <br>
  <br>
  <input class="submitBtn" type="submit" value="Submit">
</form>
<form action="/products/{{id}}?_method=DELETE" method="post">
  <button class="submitBtn" type="submit">Delete Item</button>
</form>