<h1 class="selectedItem">Your selected product:</h1>
<h2>Id: {{id}}
  <br>Name: {{name}}
  <br>Price: ${{price}}
  <br>Inventory: {{inventory}}
  
  <button id="Product Edit">
    <a href="/products/{{id}}/edit"> Edit Item</a>
  </button>

</h2>
</br>
<br>
<br>
<br>